<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pokémon Type Badges </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <h2>Vista previa</h2>

    <div class="badges">
      <app-type-badge type="fire"></app-type-badge>

      <app-type-badge type="water"></app-type-badge>

      <app-type-badge type="grass"></app-type-badge>

      <app-type-badge type="electric"></app-type-badge>

      <app-type-badge type="psychic"></app-type-badge>

      <app-type-badge type="dragon"></app-type-badge>

      <app-type-badge type="desconocido"></app-type-badge>
    </div>

  </div>
</ion-content>