<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pokémon Type Badges </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <h2>Vista previa</h2>

    <div class="badges">
      <app-type-badge type="fire"></app-type-badge>

      <app-type-badge type="water"></app-type-badge>

      <app-type-badge type="grass"></app-type-badge>

      <app-type-badge type="electric"></app-type-badge>

      <app-type-badge type="psychic"></app-type-badge>

      <app-type-badge type="dragon"></app-type-badge>
      
      <app-type-badge type="unknown"></app-type-badge>
      
      <app-type-badge type="ice"></app-type-badge>
      
      <app-type-badge type="fighting"></app-type-badge>
      
      <app-type-badge type="poison"></app-type-badge>
      
      <app-type-badge type="ground"></app-type-badge>
      
      <app-type-badge type="flying"></app-type-badge>
      
      <app-type-badge type="normal"></app-type-badge>      
      
      <app-type-badge type="bug"></app-type-badge>
      
      <app-type-badge type="rock"></app-type-badge>
      
      <app-type-badge type="ghost"></app-type-badge>
      
      <app-type-badge type="dark"></app-type-badge>
      
      <app-type-badge type="fairy"></app-type-badge>
      
      <app-type-badge type="steel"></app-type-badge>
    </div>

  </div>
</ion-content>